 <div *ngIf="!isUserLoggedIn && !isAdminLoggedIn">  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Angular + JWT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
   
        </ul>
        <button  type="button" class="btn btn-success" routerLink="/register">Sign up</button>
        <button  type="button" class="btn btn-success" routerLink="/login">Login</button>
        <button  type="button" class="btn btn-danger" (click)="logout()" >Logout</button>

      </div>
    </div>
  </nav>
</div>


  <div *ngIf="isUserLoggedIn">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Angular + JWT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/user/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/user/cart">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/user/my_orders">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/user/wishlist">Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/user/profile">Profile</a>
            </li>
          </ul>
       
          <button  type="button" class="btn btn-danger"(click)="logout()" >Logout</button>
        </div>
      </div>
    </nav>
  </div>



  <div *ngIf="isAdminLoggedIn">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Angular + JWT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/admin/category">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/admin/analystics">Analystics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/admin/product">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/admin/orders">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/admin/post-coupon">Post Coupon</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/admin/coupons">Coupons</a>
            </li>
          </ul>
        
          <button  type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
      </div>
    </nav>
  </div>
